.delete-popup-box {
  padding: 30px;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
  width: 400px; /* Adjust as needed */
  margin: auto;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.close-button {
  cursor: pointer;
  font-size: 30px;
}

.popup-content p {
  font-size: 16px;
  color: #333333;
  margin-bottom: 40px;
}

.popup-actions {
  display: flex;
  justify-content: space-between;
}

.submit-button2, .cancel-button2 {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  flex-grow: 1;
  margin: 0 10px;
}

.submit-button2 {
  background-color: #c45a5a; /* Red for delete */
  color: white;
}

.cancel-button2 {
  background-color: #c0c0c0; /* Grey for cancel */
  color: white;
}
