/* Create CSS variables for the default sizes, so they can be reused and overridden */
:root {
  --box-width: 304px;
  --box-height: 295px;
  --box-top: 20px;
  --box-left: 150px;
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
  padding: var(--box-top) var(--box-left);
  max-width: calc(4 * var(--box-width) + 3 * 32px);
  /* Maximum width for 4 boxes in a row including gaps */
  margin: 0 auto;
  /* Horizontally center the .App container */
}

/* Set font-related styles for headers */
.fotogaleria-text {
  width: 100%;
  text-align: left;
  font: normal normal normal 36px/43px Barlow;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding-top: 80px;
}

.kategorie-text {
  width: 100%;
  text-align: left;
  font: normal normal normal 18px/22px Barlow;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  cursor: pointer;
}

@media (max-width: 1600px) {
  :root {
    --box-width: 250px;
    --box-height: 240px;
  }
}

@media (max-width: 1400px) {
  :root {
    --box-width: 200px;
    --box-height: 190px;
  }
}

.preview-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.preview-image {
  max-width: 80%;
  max-height: 80%;
  border-radius: 5px;
}

.navigation-circle {
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
  opacity: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: 30px;
}

.popup-box {
  top: 0;
  left: 0;
  width: 560px;
  height: 325px;
  background: #FFFFFF;
  border-radius: 16px;
  opacity: 1;
}

.popup-box2 {
  top: 0;
  left: 0;
  width: 560px;
  height: 499px;
  background: #FFFFFF;
  border-radius: 16px;
  opacity: 1;
}

h3 {
  font: normal normal normal 24px/29px Barlow;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

button {
  display: block;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.textfield .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: black;
  /* Your default color */
}

.textfield .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgb(161, 159, 159);
  /* Your focus color */
}

.textfield .MuiFormLabel-root {
  color: black;
  /* Your default label color */
}

.textfield .MuiFormLabel-root.Mui-focused {
  color: black;
  /* Your focused label color */
}

.addBoxText {
  font: normal normal normal 16px/19px Barlow;
}

.addBoxMiddleText {
  font: normal normal normal 16px/19px Barlow;
  opacity: 0.56;
}

.addBoxText2:hover {
  background-color: #000000;
  color: white;
}